$patrick: 'Patrick Hand', cursive;
$comfort: 'Comfortaa', cursive;

body {
    font-family: $patrick;
    &.lock {
        @media (max-width: 930px) {
            overflow: hidden;
        }
    }
}
img {
    display: block;
    user-select: none;
    
}
img, img:hover, img:active, img:focus {
    outline: 0;
    outline-offset: 0;
}
a, a:hover, a:active, a:focus {
    outline: 0;
    outline-offset: 0;  
}
.wrapper {
    overflow: hidden;
    overflow-x: hidden;
}
.container {
    padding: 0 10px;
    margin: 0px auto;
    max-width: 1600px;
}


// header
.header {
    padding: 30px 0;
    @media (max-width: 930px) {
        padding: 20px 0;
    }
    &__menu {
        &-body {
            z-index: 200;
            display: flex;
            @media (min-width: 931px) {
                justify-content: center;
            }
            @media (max-width: 930px) {
                position: absolute;
                left: -100%;
                top: 0;
                height: 100vh;
                flex-direction: column;
                background: rgba(0,0,0,0.7);
                padding: 100px 20px 0;
                transition: 0.6s all ease 0s;
                &.active {
                    left: 0;
                    transition: 0.6s all ease 0s;
                }
            }
            @media (max-width: 425px) {
                width: 100%;
            }
        }
        &-item {
            @media (min-width: 931px) {
                padding: 0 18px;
            }
            @media (max-width: 930px) {
                position: relative;
                margin-bottom: 35px;
                padding-bottom: 15px;
                &.link-active {
                    position: relative;
                    &:after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: #fff;
                    }
                }
                &:hover:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                }
            }
        }
        &-link {
            color: #fff;
            font-family: $comfort;
            font-size: 22px;
            @media (min-width: 931px) {
                padding: 0 25px 10px;
                &.link-active {
                    border-bottom: 2px solid #fff;
                }
                &:hover {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
    &__burger {
        z-index: 300;
        @media (max-width: 930px) {
            width: 35px;
            height: 32px;
            position: relative;
            &:after, &:before, span {
                position: absolute;
                content: ' ';
                width: 100%;
                height: 3px;
                background: #fff;
            }
            &:after {
                top: 0;
            }
            &:before {
                bottom: 0;
            }
            & span {
                top: 14px;
            }
        }
    }
}
// intro 
.intro {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/bg.png') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100Vh;
}
// presentation
.presentation {
    &__title {
        text-align: center;
        font-size: 90px;
        color: #fff;
        margin-top: 90px;
        @media (max-width: 490px) {
            font-size: 55px;
        }
        @media (max-width: 930px) {
            margin-top: 60px;
        }
    }
}
// orange 
.orange-top {
    margin-top: 70px;
    & img {
        margin-bottom: -2px;
        width: 100%;
        object-fit: cover;
    }
}
// works
.works {
    background: #fafafa;
    &__content {
        max-width: 1200px;
        margin: 0px auto;
        padding: 120px 0 0 0;
        @media (max-width: 1440px) {
            padding: 120px 0 80px 0;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        &.desktop {
            @media (max-width: 768px) {
                display: none;
            }
        }
        &.mobile {
            display: none;
            @media (max-width: 768px) {
                display: flex;
            }
        }
    }
    &__col {
        flex: 25%;
        padding: 0 10px;
        @media (max-width: 1024px) {
            padding: 0 5px;
        }
    }
    &__block {
        width: 100%;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @media (max-width: 1024px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &-link {
            display: block;
            height: 100%;
            &:hover > .works__block-descr {
                opacity: 1;
                visibility: visible;    
            }
        }
        &-descr {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }
        &-text {
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: #fff;
            font-size: 30px;
        }
        &-img {
            width: 100%;    
        }
    }
    &__slider {
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
        margin: 0 auto 100px;
        &-slide {
            padding: 0 10px;
            @media (max-width: 768px) {
                padding: 0 5px;
            }
            & img {
                border-radius: 20px;
                width: 100%;
            }
        }
        &-wrapper {
            padding-bottom: 70px;
        }
        & .swiper-pagination {
            &-bullet {
                height: 25px;
                width: 25px;
                background: #ee7353;
                opacity: 0.6;
                &-active {
                    background: #ee7353;
                    opacity: 1;
                }
            }
        }
    }
}

// footer 
.footer {
    background: #758b98;
    margin-top: -2px;
    @media (min-width: 1921px) {
        padding-bottom: 100px;
    }
    @media (max-width: 1920px) {
        padding-bottom: 50px;
    }
    @media (max-width: 768px) {
        padding: 20px 0 30px;
    }
    &__container {
        padding: 0 20px;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        &-title {
            font-size: 48px;
            color: #fff;
            @media (min-width: 769px) {
                padding-right: 50px;
            }
            @media (max-width: 768px) {
                font-size: 35px;
                margin-bottom: 20px;
            }
        }
        &-icon {
            & i {
                font-size: 35px;
                color: #fff;
            }
        }
    }
}
.footer-bottom {
    background: #fafafa;
    margin-top: -2px;
    & img {
        width: 100%;
        object-fit: cover;
    }
}